<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Login</title>
	<link rel="stylesheet" href="/css/client.css">
</head>
<body>
	<div id="container">
		<a id="logo" target="_blank" href="http://www.nottingham.edu.cn" title="The University of Nottingham Ningbo China"></a>
		<h1 class="login">Log In</h1>
		<form method="POST" action="#" class="left">
			<label for="username">Username</label>
			<input id="username" name="username" type="text" maxlength="50">
			<label for="password">Password</label>
			<input id="password" name="password" type="password" maxlength="50">
			<input type="submit" value="Log In" class="primary">
			<input type="hidden" name="isLogin" value="">
		</form>
		<a id="wechat" target="_self" href="#" title="Log in with WeChat">Log in with WeChat</a>
	</div>
</body>
</html>